---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>
<main>
    <div class="sun">
        <span class="sun-dot"></span>
        <strong>Sun</strong>
        <p>Type G2V</p>
    </div>
    <div class="mercury">
        <span class="mercury-dot"></span>
        <strong>Mercury</strong>
        <p>0.4 AU</p>
    </div>
    <div class="venus">
        <span class="venus-dot"></span>
        <strong>Venus</strong>
        <p>0.72 AU</p>
    </div>
    <div class="earth">
        <span class="earth-dot"></span>
        <strong>Earth</strong>
        <p>1.0 AU</p>
    </div>
    <div class="mars">
        <span class="mars-dot"></span>
        <strong>Mars</strong>
        <p>1.52 AU</p>
    </div>
    <div class="jupiter">
        <span class="jupiter-dot"></span>
        <strong>Jupiter</strong>
        <p>5.2 AU</p>
    </div>
    <div class="saturn">
        <span class="saturn-dot"></span>
        <strong>Saturn</strong>
        <p>9.5 AU</p>
    </div>
    <div class="uranus">
        <span class="uranus-dot"></span>
        <strong>Uranus</strong>
        <p>19.8 AU</p>
    </div>
    <div class="neptune">
        <span class="neptune-dot"></span>
        <strong>Neptune</strong>
        <p>30.0 AU</p>
    </div>
</main>